*{
margin: 0;
padding: 0;
}



body
{
padding: 0;
background-color: white;
width:100%;
height: 100%;
display: flex;
flex-direction: column;



}



#navbar
{
top: 40px;
transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out;
opacity: 60%;
position: fixed;
background-color: black;
height: 100px;
width: 100%;
box-shadow: 0px 50px 100px 0px;
 z-index: 1;
 user-select: none;
}



nav ul
{   padding-left: 40%;
    padding-top: 40px;
    list-style: none;
    display: flex;
    gap: 55px;

}

  #no-pad
{
    position: absolute;
    left: 30px;
}

nav a
{
   
    text-decoration: none;
    color: white;
}

.outer-class
{
    height: 6800px;
    width: 100%;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    
    
}



.outer-ul
{
   margin: 0px 0px; 
   gap: 200px;
   list-style: none;
   display: flex;
   flex-direction: column;
   position: relative;
}

 #slider
{
    object-fit: cover;
    width: 1521px;
    height: 1000px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    filter: grayscale(100%);
    position: relative;
    background-color: antiquewhite;
}

.caption {
  position: absolute;
    margin-left: 50px;
    margin-top: -12em;
  color: white; 
  font-size: 40px;
   opacity: 1;
  transition: opacity 2s ease-in-out;
  user-select: none;
}


footer
{
background-color: black;

color: aliceblue;
height: 200px;
width: 100%;

}





 #artist-section{
    width: 100%;
    user-select: none;
 }
 #artist-section .artist-wrapper
{
    background-color: black;
    opacity: 100%;
    height: 700px;
    width: 100%;
    position: relative;
    align-content: center;
    margin-top: 100px;  
   
}

#artist-section .magicButton
{
    margin-left: 1380px;
    margin-top: 20px;
}
#artist-section .artist-wrapper ul 
{
    display: flex;
    gap: 100px;
    list-style: none;
    

}

#profiles li div 
{
    
    height: 500px;
    width: 300px;
    position: relative;
    
    
}
#profiles li div .artist-names{
    color: aliceblue;
    padding-left: 90px;
    padding-top: 10px;
    
}


#profiles li div
{

 border: 2px solid transparent ;
 
}


#profiles div:hover
{
   transition: .8s; 
  border: 2px solid white;

    
}
#profiles div img:hover
{
    transition: 1s;
    opacity: 50%;
}

#profiles div .caption2
{
    color: aliceblue;
   margin-top: -150px;
   margin-left: 20px;
   font-size: 25px;
}
#profiles li div img
{
    position: relative;
    object-fit: fill;
    display: block;
    filter:grayscale();
}
#profiles li div #two
{
   
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#profiles li div #four
{
    
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#profiles li div #three
{
    
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#profiles li div #one
{
    
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#highlights .magicButton
{
    margin-top: -80px;
    margin-left: 1220px;
}
#highlights
{
    margin-left: 80px;
    margin-top: 100px;
}
#highlight
{
    
    height: 700px;
    width: 1350px;
    overflow: hidden;
    position: relative;
}
#highlight-image
{
    object-position: 0px -300px;
    object-fit: fill;
   filter: grayscale(.5);
    
}

#highlight-caption
{   user-select: none;
    color: aliceblue;
    text-decoration: none;
    margin-top: 100px;
    margin-left: 150px;
     z-index: 1;
    position: absolute;
    font-size: 15px;
    font-family: Georgia ;

}
#highlight-caption a
{
    color: aliceblue;
    text-decoration: none;
}
#highlight-caption span
{
    font-family:Helvetica ;
    font-size: 40px;
}

 .magicButton
{   user-select: none;
    cursor: pointer;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 1280px;
    position: absolute;
    margin-top: 60px;
    z-index: 10;
    background: linear-gradient(to right, black 100%, transparent 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease, color 0.5s;
    color: black;
}

.magicButton:hover 
{
color: aliceblue;
background-size: 100% 100%; 
}




#workshop
{
   
    width: 100%;
    position: relative;
    overflow: hidden;
}
#workshop #collections
{
    margin-left: 0px;
    position: relative;
     height: 600px;
    width: 100%;
    overflow: hidden;
    display: flex;
        list-style: none;
        gap: 60px;
    padding-top:150px ;
    padding-left: 80px;
    background: rgba(133, 132, 132, 0.136); /* translucent */   
}

#workshop .col1 
{
    
background-color: rgba(157, 132, 102, 0.248);
 height: 400px;
 width: 400px; 
 position: relative;
 overflow: hidden;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px); /* for Safari */
  border: 3px solid transparent;
  box-sizing: border-box;
}

#workshop .col1:hover{
    animation: borde 1.3s  ;
}

@keyframes borde {
 
    0%{border-top: 3px solid transparent;}
    25%{border-top: 3px solid rgb(254, 233, 164);}
    50%{border-right: 3px solid rgba(2254, 233, 164);}
    75%{border-bottom: 3px solid rgba(254, 233, 164);}
    100%{border-left: 3px solid rgba(254, 233, 164);}
}

#workshop .col1 img
{
 height: 70%;
 width: 70%;
 padding-top:60px ;
 padding-left: 60px; 

}

#founders
{
    width: 95%;
    height: 570px;
    margin-left: 50px;
    background-color: antiquewhite;
}
#founders img
{
    height: 100%;
}
#founders p 
{
    margin-left: 900px;
    margin-top: -300px;
    font-size: 15px;
   
   
}
#founders p a
{
   text-decoration: none;
   color: black;
}
#founders p #one 
{
   position: relative;
   bottom: 20px;
   font-size: 30px;
   
}
#founders p #two 
{
   position: relative;
   bottom: 24px;
   font-size: 20px;
   color: gray;
   
}

#instagram .magicButton
{
    margin-top: 80px;
    margin-left: 1348px;
}
#instagram
{
   
    background-color: rgba(217, 211, 211, 0.278);
    width: 100%;
    height: 700px;
    display:flex;
   color: black;
   font-size: 20px;
}

#instagram i 
{
    position: relative;
}
#instagram #right
{   right: 20px;
      top: 300px;
}

#instagram #left
{
    top: 300px;
    color: black;
    left: 20px;
}
#insta
{
  height:100%;
  width:100%;
  list-style:none;
  display:flex;
  gap:15px;
  padding-left: 40px;

}


#insta li img 
{
    height: 90%;
    width: 90%;
    object-fit: contain;
  
}
#location
{
    border: 1px solid black;
    height: 200px;
    width: 98%;
    margin-left: 15px;
    text-align: center;
    padding-top: 50px;
    margin-top: -100px;
}

#paytm div
{
    background-color: antiquewhite;
    width: 20%;
    height: 100px;
    margin-left: 600px;
    padding-left: 60px;
    margin-top: -80px;
    padding-top: 50px;
    
}
#paytm div:hover
{
    box-shadow: 0px 5px 30px 0px;
    transition: .5s ease;
}
#paytm a 
{
    text-decoration: none;
    
}













@media (max-width: 480px) 
{
  #navbar {
    font-size: 10px;
    height: 60px;
    z-index: 100;
 
    
    
  }
  nav ul
  {
   padding-left: 54%;
 padding-top: 25px;
    gap: 10px;
  }
  #slider
  {
    width: 480px;
    height: 896px;
    object-fit: cover;
  }
  .caption
  {
    margin-left: 30px;
  }
  #artist-section
  {
    width: 100%;
  }
   #artist-section .artist-wrapper
{
    background-color: black;
    opacity: 100%;
    height: 800px;
    width: 100%;
    position: relative;
    align-content: center;
    margin-top: 100px;
}
#artist-section .artist-wrapper ul 
{
    display: flex;
    gap: 5px;
    list-style: none;
    margin-left: 0px;

}
#profiles div .caption2
{
    color: aliceblue;
   margin-top: -150px;
   margin-left: 10px;
   font-size: 25px;
}
#profiles li div .artist-names{
    color: aliceblue;
    padding-left: 10px;
    padding-top: 10px;
    
}

#profiles li div 
{
    
    height: 500px;
    width: 100px;
    position: relative;
    
    
}
#highlights
{
    margin-left: 10px;
    margin-top: 100px;
}
#highlight
{

    height: 700px;
   width: 98%;
    overflow: hidden;
    position: relative;
}
#highlight-image
{
    object-position: -400px -200px;
    object-fit: fill;
   filter: grayscale(.5);
    
}
#workshop .col1 
{
    
background-color: rgba(157, 132, 102, 0.248);
 height: 200px;
 width: 200px; 
 position: relative;
 overflow: hidden;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px); /* for Safari */
  border: 3px solid transparent;
  box-sizing: border-box;
}
#workshop .col1 img
{
 height: 70%;
 width: 70%;
 padding-top:30px ;
 padding-left: 30px; 

}
#workshop #collections
{
    height: 530px;
    
        gap: 10px;
    padding-left: 2px;
    padding-top: 100px;
    background: rgba(133, 132, 132, 0.203); /* translucent */   
}
#workshop #col2
{
    margin-left: -418px;
    margin-top: 210px;
}
#founders
{
    width: 95%;
       margin-left: 10px;  
}
#founders p 
{
    margin-left: 250px;
    margin-top: -400px;
    font-size: 15px;  
}

#paytm #pay
{
  margin-left: 0;
  width: 150px;
  padding-left: 0;
}
#founders img
{
    height: 100%;
    width: 200px;
    object-fit:cover;
    object-position: -200px 0px;
}
}