*
{
    margin:0;
    padding:0;
}
body
{
  align-items: center;
  align-content:center;


}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#top
{
    color: rgb(255, 255, 255);
    position: fixed;
    top: 600px;
    font-size: 6em;
    transition: all 0.3s ease;
    z-index: 10;
  
      
    

}
.fadeIn-images
{
    animation: fadeIn 1s  ease-in;
}
.magicFont
{
    animation: fadeIn 3s ease-in-out infinite alternate;
    color: rgb(107, 106, 106);
    font-size: 1em;
   
}


#imgs ul li img
{
    width: 100%;
    height: 100%;
  
    
    
}
