*
{
    margin:0;
    padding:0;
}
body
{
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 244, 233);
    gap:200px;
    font-family: "Bodoni Moda", serif;
     font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.magicButton
{   user-select: none;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    width: 100px;
    height: 40px;
    margin-top: 420px;
   margin-left: 20px;
    padding-top: 2px;
    padding-left: 5px;
    position: absolute;
    font-size:1em ;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(255, 255, 255) 100%, transparent 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease, color 0.5s;
    color: rgb(255, 255, 255);
}

#logIN
{
    height: 100%; width: 100%;
    z-index: 100; 
    visibility: visible;
    position: fixed;
    background-color: #333;
}
#logIN .bg 
{
    position: absolute;
    width: 100%;
    height: 100%; object-fit: cover;
    visibility: visible;
    z-index: 101;
}
#logoo
{
    height: 20px; width:300px;
   margin-top: 170px;
    position: absolute;
    visibility: hidden;
}
#signup
{
    position: relative;
    border: 1px solid white;
    height: 600px; width: 700px;
    z-index: 202; margin-top: 3%;
    background-color: rgba(134, 121, 121, 0.125);
    backdrop-filter: blur(5px);
    border-radius: 10%;
    margin-left: 30%;
   color: #f0f8ff;
    text-align: center;
    visibility: visible;
}
#login 
{
    position: relative;
    border: 1px solid white;
    height: 600px; width: 700px;
    z-index: 201; margin-top: 3%;
    background-color: rgba(134, 121, 121, 0.125);
    backdrop-filter: blur(5px);
    border-radius: 10%;
    margin-left: 30%;
   color: #f0f8ff;
    text-align: center;
    visibility:     hidden;
   
}
#login a 
{
    text-decoration: none;
    color: #f0f8ff;
}
a:hover 
{
    opacity: 50%;
}
button:hover 
{
    opacity: 50%;
}
#login input
{
      background-color: rgba(134, 121, 121, 0.125);
      backdrop-filter: blur(5px);
      border: 0;
       color: #f0f8ff;
       
       
}
#username 
{
    height: 30px; width: 500px;
    margin-top: 100px;
    color: #f0f8ff;
    margin-top: 200px;
   

}
#password
{
     height: 30px; width: 500px;
    margin-top: 10px;
    color: #f0f8ff;

}
#submit
{
      background-color: rgba(134, 121, 121, 0.125);
      backdrop-filter: blur(5px);
      border: 0;
     height: 30px; width: 200px;
    margin-top: 10px;
    color: #f0f8ff;
    cursor: pointer;
}


.magicButton:hover 
{
color: rgb(0, 0, 0);
background-size: 100% 100%; 
}

.tooltip {
    font-family: 'Courier New', Courier, monospace;
  visibility: hidden;
  opacity: 0;
  font-size: 10px;
  width: 5em;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  margin-left: -30px;
  transition: opacity 0.3s ease;
  z-index: 10;
}
nav ul li 
{
    cursor: pointer;
}
nav ul li:hover 
{
    color: rgb(35, 82, 35);
}
nav 
{
    
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background:linear-gradient(to right , rgb(255, 255, 255) , rgb(96, 96, 96));
    margin-top: 0;
    padding-left: 200px;
    padding-top: 20px; box-sizing: border-box;
    position: fixed;
    z-index: 50;
}
nav i:nth-child(4)
{
    position: absolute;
    margin-left: 84%;
    font-size: 20px;
    margin-top:-25px;
    cursor: pointer;
}
i:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
nav i:nth-child(3)
{
    position: absolute;
    margin-left: 81%;
    font-size: 20px;
    margin-top:-25px;
    cursor: pointer;
}
#logo
{
   position: absolute;
   margin-left: -180px;

  
   
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#top
{
    color: rgb(0, 0, 0);
    position: fixed;
    top: 100px;
    font-size: 6em;
    transition: all 0.3s ease;
    z-index: 10;
    margin-left: 39%;
    
}
#nav ul
{
    display: flex;
    gap: 30px;
    list-style:none;

}

.fadeIn-images
{
    animation: fadeIn 1s  ease-in;
}
.magicFont
{
    animation: fadeIn 3s ease-in-out infinite alternate;
    color: rgb(107, 106, 106);
    font-size: 1em;
   
}

#imgs ul 
{
    display: flex;
    flex-direction: column;
    gap: 200px;
}

#imgs ul li 
{
    background-color: blueviolet;
    overflow: hidden;
    
}

#imgs ul li img 
{
    object-fit: cover;
    height: 100%;
    width: 50%;

    
    
}
#cat1 ul li i 
{
    color: #f0f8ff;
    font-size:20px;
    margin-left:-30px;
    margin-top:10px;
    position: absolute;
    opacity: 0;
    transition:  0.7s ease;
    cursor: pointer;
}


#cat1 ul li:hover i {
   opacity: 1;   
}
#cat1 ul li:hover p {
   opacity: 1;   
}

#cat1 ul li img:hover
{
    filter: brightness(40%);

      
}
#cat1 p
{
      color: rgba(255, 255, 255, 0.726);
      font-size: 2em;
      margin-left: 50px;
}

#cat1
{
      background: linear-gradient(to right, rgb(127, 55, 19), rgb(11, 11, 28));
      width: 100%;
      height: 600px;
     align-content: center;
     margin-top: 100px;
     
  
}
#cat1 ul li p 
{
    position: absolute;
    margin-top:-150px;
    margin-left:90px;
    opacity: 0;
}
#cat1 ul 
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;
}
#cat1 ul li 
{
    overflow: hidden;
    height: 400px; width:280px;
  
}
#cat1 ul li img
{
   object-fit: cover;
    height: 100%;
    width: 100%;
   
}

#cat2 p
{
      color: rgba(255, 255, 255, 0.726);
      font-size: 2em;
      margin-left: 20px;
}

#cat2
{
      background-color: rgb(72, 64, 33);
      width: 100%;
      height: 600px;
     align-content: center;
     
  
}
#cat2 ul 
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;
}
#cat2 ul li 
{
    overflow: hidden;
    height: 400px; width:480px;
  
}
#cat2 ul li img
{
   object-fit: cover;
    height: 100%;
    width: 100%;
   
}
    

#cat2 ul li i 
{
    color: #f0f8ff;
    font-size:20px;
    margin-left:-30px;
    margin-top:10px;
    position: absolute;
    opacity: 0;
    transition:  0.7s ease;
    cursor: pointer;
}


#cat2 ul li:hover i {
   opacity: 1;   
}
#cat2 ul li:hover p {
   opacity: 1;   
}

#cat2 ul li:hover img
{
    filter: brightness(40%);

      
}



#cat2 ul li p 
{
    color: rgba(255, 255, 255, 0.726);
      font-size: 2em;
      margin-left: 50px;
    position: absolute;
    margin-top:-150px;
    margin-left:90px;
    opacity: 0;
}